body {
    background-color: aqua;
}
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

a {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}



    