<div id="containerProducts">
<h1 id="Header1Product">Product's</h1>

<a href="/product/new"> 
    <button>List New Product</button>
</a>


<div id="listStyleP">
    <h3>A list of every product</h3>
{{#each allProducts}}

  <a href="/product/{{_id}}" id="eachProduct">
    <div>
        <span>{{name}}</span>
        
    </div>
</a>

{{/each}}
</div>
</div> 