<div id="createAllPageBackground"> 
<h1>List a Product</h1>
<form method="POST" action="/product/">

 <input type="text" value="" placeholder="name" name="name"/>
 <input type="text" value="" placeholder="discription" name="discription"/>
 <input type="text" value="" placeholder="soldBy" name="soldBy"/>
 <input type="date" value="" placeholder="madeBetween" name="madeBetween"/>

  <input type="submit" value="List Product" />
</form>
<a href="/product/">
    <button>Home</button>
</a>
</div>