<div class="container">
  <h1 class="allHeader"   id="Header1">Company's</h1>

  {{!-- <h3 class="allHeader" id="allHeader3">A list of every company in the database</h3> --}}


  <a href="/company/new">
      <button>List New Company</button>
  </a>


  <div id="listOfCompanys">
    <h3 class="allHeader" id="allHeader3">A list of every company in the database</h3>
  {{#each allCompanys}}

    <a href="/company/{{_id}}" id="eachCompany">
      <div>
          <span>{{name}}</span>
        
      </div>
    </a>

    {{/each}}
  </div>
</div> 